<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flagger</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>

<body>
<!-- .container is main centered wrapper -->
<div class="container">
    <div class="row">
        <div class="eleven columns">
            <h1>M4TT3W</h1>
            <form action="/run" method="post" >
                <input type="submit" value="run" class="btn btn-default">
            </form>
        </div>
    </div>
    <hr>
    <p> text {{ tran }}
</div>
</body>
</html>
